<div class="row">
  <div class="col-sm-8 col-md-7">
    <div class="content-area">
      <h2>About BlicblockJS</h2>
      <p>
        Blicblock is a game your Sims can play in The Sims 4. After seeing my
        Sims play it enough on their computers, I realized it looked like a
        fully developed game idea, and not just bits of color flashing around
        on their screens.
      </p>
      <h3>Who made BlicblockJS?</h3>
      <p>
        I'm <a href="http://www.sarah-vessels.com/">Sarah Vessels</a>, a
        programmer in Lexington, Kentucky. I love The Sims series and
        programming, so I combined the two and made BlicblockJS!
      </p>
      <h3>Can I see the source code?</h3>
      <p>
        Sure! It's available <a href="https://github.com/moneypenny/blicblock-js">on Github</a> under the MIT license. Feedback and bug reports are
        welcome! <a href="https://github.com/moneypenny/blicblock-js/issues">Please report bugs here</a>.
      </p>
      <h3>Disclaimer</h3>
      <p>
        Blicblock is not mine, that belongs to Maxis and EA. I just made the
        Blicblock implementation that is BlicblockJS.
      </p>
      <h3>Credits</h3>
      <ul class="list-inline">
        <li>
          <a href="http://2ttf.com/TMGzvARw">
            Handwritten Simlish Font by Alleliua
          </a>
        </li>
        <li>
          <a href="http://www.thesims.com/TheSims4">
            The Sims 4 by Maxis and EA
          </a>
        </li>
        <li>
          IP Geolocation by <a href="http://www.geoplugin.com/">geoPlugin</a>
          and <a href="http://dev.maxmind.com/geoip/geoip2/geolite2/">MaxMind</a>
        </li>
        <li>
          <a href="http://flag-sprites.com/">Flag Sprites</a>
        </li>
      </ul>
      <h3>Donate</h3>
      <script data-gratipay-username="SarahVessels" data-gratipay-widget="button" src="//gttp.co/v1.js"></script>
    </div>
  </div>
  <div class="col-sm-4 col-md-5">
    <div class="screenshot">
      <img src="/images/blicblock-screenshot-1.png" alt="My Sim playing Blicblock in The Sims 4">
      <div class="caption">My Sim playing Blicblock</div>
    </div>
    <div class="screenshot">
      <img src="/images/blicblock-screenshot-2.png" alt="My Sim losing a game of Blicblock in The Sims 4">
      <div class="caption">My Sim losing a game of Blicblock</div>
    </div>
  </div>
</div>
